@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    17 Grosvernor<br />
    Cnr Fife Ave /3rd St, Harare<br />
    <abbr title="Phone">P:</abbr>
  04792114 /086440664536
</address>

<address>
    @*<strong>Support:</strong>   <a href="mailto:timothy@zimhope.co.zw">timothy@zimhope.co.zw</a><br />
    <strong>Support:</strong> <a href="mailto:kumbi@zimhope.co.zw">kumbi@zimhope.co.zw</a>*@
    <strong>Sales:</strong> <a href="mailto:sales@zimhope.co.zw">sales@zimhope.co.zw</a>
    <strong>Marketing:</strong> <a href="mailto:winston@zimhope.co.zw">winston@zimhope.co.zw</a>
</address>
