@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <title>unauthorized</title>
    <!-- Bootstrap 3.3.2 -->
    <link href="~/Content/theme/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Font Awesome Icons -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <!-- Theme style -->
    <link href="~/Content/FontAwesome.css" rel="stylesheet" />
    <link href="~/Content/theme/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    
</head>

<body class="register-page">
    <div class="register-box">
        
        <div class="register-box-body">
            <p class="login-box-msg">You are unauthorized for this page<br />
                <a href="~/pos/" class="text-center">Back To POS</a>
            </p> 
        </div><!-- /.form-box -->
    </div><!-- /.register-box -->
 
   
</body>

</html>


